.instances {
    font-size: 1.5em;
}

.positive {
    text-align:right;
}
.negative {
    text-align:left;
}

.positive > h2 {
    color: #5da423;
}
.negative > h2 {
    color: #c60f13;
}


#pos-instances {
    float:right;
}
#neg-instances {
    float:left;
}

.fork-me {
    background-color: #000;
}
