.instances {
    font-size: 1.5em;
}

.positive {
    text-align:right;
}
.negative {
    text-align:left;
}

.positive > h2 {
    color: #5da423;
}
.negative > h2 {
    color: #c60f13;
}

#neg-msg, #pos-msg {
    color: #707070;
    font-size: 0.8em;
}

#pos-instances #pos-msg {
    float:right;
}
#neg-instances #neg-msg {
    float:left;
}

.fork-me {
    background-color: #000;
}
